html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.bg {
    width: 100%;
    height: 100%;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.content {
    position: absolute;
    top: 43%;
    left: 50%;
    height: 12em;
    width: 40em;

    margin-top: -6em;
    margin-left: -20em;

    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    box-sizing: border-box;
    text-align: center; /*IE*/
    text-align: -moz-center; /*Firefox*/
    text-align: -webkit-center; /*Chrome*/
    color: white;
    overflow: hidden;
    z-index: 1;
}

.rgba {
    background-color: rgba(0, 0, 0, 0.1);/* 为文字更好显示，将背景颜色加深 */
    position: absolute;/* 固定半透明色层位置 */
    width:100%;
    z-index: -1;/* 中间是rgba半透明色层 */
}

.text {
    position: relative;
    top: 30%;
    left: 0%;
    width: 100%;
    transform: translate(0%, -50%);
    text-align: center; /*IE*/
    text-align: -moz-center; /*Firefox*/
    text-align: -webkit-center; /*Chrome*/
}
span {
    cursor: pointer;
}
.iconfont {
    font-size: 1.5em;
    text-decoration: none;
}
.icon {
    position: relative;
    top: 17%;
    left: 0%;
    width: 96%;
    transform: translate(0%, -50%);
    text-align: right; /*IE*/
    text-align: -moz-right; /*Firefox*/
    text-align: -webkit-right; /*Chrome*/
}
.icon a {
    color: white;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* -webkit-user-modify: read-write-plaintext-only; */
}

.bg00::before
{
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;

    margin: -30px;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -ms-filter: blur(20px);
    -o-filter: blur(20px);
    filter: blur(20px);

    z-index: -2;

    background-image: url(../img/bg00.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.bg01::before
{
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;

    margin: -30px;

    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -ms-filter: blur(20px);
    -o-filter: blur(20px);
    filter: blur(20px);

    z-index: -2;

    background-image: url(../img/bg01.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

}
.bg02::before
{
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;

    margin: -30px;

    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -ms-filter: blur(20px);
    -o-filter: blur(20px);
    filter: blur(20px);

    z-index: -2;

    background-image: url(../img/bg02.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

}
.bg03::before
{
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;

    margin: -30px;

    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -ms-filter: blur(20px);
    -o-filter: blur(20px);
    filter: blur(20px);

    z-index: -2;

    background-image: url(../img/bg03.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

}
.bg04::before
{
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;

    margin: -30px;

    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -ms-filter: blur(20px);
    -o-filter: blur(20px);
    filter: blur(20px);

    z-index: -2;

    background-image: url(../img/bg04.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

}
