/* 布局无关代码 */

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

h1, h2, h3, h4, h5, h6, p, a {
    margin: 0px;
}

body {}

.refresh {
    position: absolute;
    top: 0;
    right: 20px;
    width: 36px;
    height: 72px;
    border-radius: 0 0 18px 18px;
}

.refresh svg {
    margin-left: 4px;
    margin-top: 39px;
    width: 28px;
    height: 28px;
}

.card {
    position: absolute;
    margin: auto;
    padding: 0px;
    /* left: 0;
    right: 0;
    top: 0;
    bottom: 0; */
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 2px 2px 5px #444444;
    /* min-height: 220px; */
    /* max-height: 280px; */
}

.card .header {
    margin-top: 20px;
    padding-top: 0px;
    /* margin-left: 20px; */
    padding-left: 20px;
    margin-right: calc(100% - 120px);
}

.card .header p {
    margin-bottom: 0px;
    font-size: 1.2em;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.card .content {
    padding-top: 70px;
    padding-bottom: 90px;
    /* padding-left: 40px; */
    /* margin-left: 40px; */
    /* min-height: 100px; */
    text-align: center;
}

.card .content p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
}

.card .footer {
    padding: 10px;
    align-content: right;
    text-align: right;
}

.card .footer p {
    font-size: 0.8em;
}

.card .footer a {
    font-size: 0.8em;
}

/* 适配大屏幕 */

@media (min-width: 1440px) {
    .card {
        width: 700px;
    }
}

/* 适配中型屏幕 */

@media (min-width: 768px) and (max-width: 1440px) {
    .card {
        width: 600px;
    }
}

/* 适配小型屏幕 */

@media (max-width: 768px) {
    .card {
        width: 300px;
    }
}