/**
 * 布局无关代码
 */

/* 框架级样式表 */
html, body {
    background-color: blueviolet;
}

body {
    background-color: crimson;
    background-image: url(WTY01986.JPG);
    background-repeat: no-repeat;
    background-size: cover;
}

/* 组件级样式表 */
.refresh {
    cursor: pointer;
    background-color: rgb(255, 252, 62);
}

.card {
    background-color: #f1f0c0;
}

.card .header {
    background-color: red;
    color: white;
}

.card .footer {
    border-top: 1px solid red;
}

/* 适配大屏幕 */

@media (min-width: 1440px) {
}

/* 适配中型屏幕 */

@media (min-width: 768px) and (max-width: 1440px) {
}

/* 适配小型屏幕 */

@media (max-width: 768px) {
}